<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"></meta>
<title>用户注册</title>
</head>
<body>
<P>用户注册</P>
<form action="/registerUser" method="post">
<br></br>
用户名：
<br></br>
<input type="text" name="username"></input>
<br></br>
年龄：
<br></br>
<input type="text" name="age"></input>
<br></br>
密码：
<br></br>
<input type="password" name="password1"></input>
<br></br>
确认密码：
<br></br>
<input type="password" name="password2"></input>
<br></br>
<br></br>
<input type="submit" value="注册"></input>
</form>

</body>
</html>